.App {
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}

main {
  aspect-ratio: 9/16;
  border-radius: 3px;
  overflow-y: scroll;
  width: 100vw;
  scroll-snap-type: y mandatory;
}